extends layout

block content
  #container
    #menu-nav
    #chatting-list
    #chat-interface
      //- .interface-header
      //- .interface-body
      //- .interface-footer
      //-   textarea
      //-   button send
  script(type='text/javascript') var username= '#{username}';console.log(username);var photo= '#{photo}';console.log(photo);
  script(src='/js/bundle.js')