extends layout

block content
  #login
    #{message}
    form(id='loginForm' method='post')
      label(for='username') 昵称
        input(name='username')
      label(for='photo') 选择头像
        input(name='photo')
    button(onClick='login()') click
    #selectphoto
  script(src='/js/login.js')

