extends layout

block content
  #login
    h1 EasyChat
    p#login-remainder.reminder #{message}
    form(id='loginForm' method='post' action="/login")
      label(for='username')
        input(name='username' placeholder='昵称')
      br
      label(for='password')
        input(name='password' type='password' placeholder='密码')
      div.button-container
        button(type='reset' value="reset") 重置
        button.jumpTo(type='button' value="jump2register")
          a(href='/register') 点此进入注册界面
        button(type='submit' value="submit") 登陆
  script(src='/js/login.js')

