#interface-header {
	position: relative;
	height: 10%;
	>p {
		text-align: center;
		>span{
			cursor: pointer;
		}
		>span.online-state{
			
			font-size: 10pt;
		}
	}
	>div.func-reminder {
		@include absolute(bottom);
		height: 20px;
		width: 100%;
		font-size: 8pt;
		color: #f695a7;
		text-align: center;
		>p {
			margin: 0;
			display: inline-block;
		}
		>span {
			display: inline-block;
			width: 35px;
			margin-left: 10px;
			cursor: pointer;
			color: #fff;
			background-color: #f695a7;
			border-radius: 3px;
		}
	}
}