// setting of container div
$container-width: 850px;
$container-height: 600px;


// setting of menu-nav div
$menu-nav-width: 50px;
$menu-nav-background: rgb(62,62,64);

// setting of chat-list div
$chat-list-width: 250px;
$chat-list-background: rgb(234,234,234);
$chat-list-active: rgb(193,200,211);
$chat-list-hover: rgb(216,220,223);

// setting of friend-list div
$friend-list-width: 250px;
$friend-list-background: rgb(234,234,234);
$friend-list-active: rgb(193,200,211);
$friend-list-hover: rgb(216,220,223);

// setting of chat-interface div
$chat-interface-width: 550px;
$chat-interface-background: rgb(245,245,245);
$chat-interface-footer-background: rgb(249,249,249);

//setting of the message wrapper's color
$chat-content-color-left: #fff;
$chat-content-color-right: #28cb40;
$chat-content-color-shadow: #aaa;