// set the boundary of PC and phone
$mobile-width: 767px;

@mixin absolute($p1:0, $p2:0, $p3:0, $p4:0) {
	position: absolute;
	@include setPos($p1, $p2, $p3, $p4);
}
@mixin relative($p1:0, $p2:0, $p3:0, $p4:0) {
	position: relative;
	@include setPos($p1, $p2, $p3, $p4);
}
@mixin setPos($p1:0, $p2:0, $p3:0, $p4:0) {
	@each $p in $p1, $p2, $p3, $p4 {
    	@each $i in top, right, bottom, left {
    		@if $p == $i {
    			#{$i}: 0;
    		}
    	}
    }
}


