@charset "UTF-8";
@import url(../bower_components/normalize-css/normalize.css);
html, body {
  font-family: Microsoft YaHei, 微软雅黑; }

#container {
  position: relative;
  top: 60px;
  margin-left: auto;
  margin-right: auto;
  width: 850px;
  height: 600px;
  border: 1px solid black; }

@media screen and (max-width: 767px) {
  #container {
    top: 0;
    width: 100%; } }

#chat-interface {
  float: left;
  height: 100%;
  width: 550px;
  background-color: blue; }
  #chat-interface:after {
    content: "";
    clear: both; }
  #chat-interface > div {
    float: left;
    width: 100%; }
  #chat-interface .interface-header {
    height: 10%;
    background-color: red; }
  #chat-interface .interface-body {
    height: 65%;
    background-color: green; }
  #chat-interface .interface-footer {
    position: relative;
    height: 25%;
    background-color: red; }
    #chat-interface .interface-footer > textarea {
      position: absolute;
      top: 0;
      left: 0;
      padding: 0;
      border: 1px solid #aaa;
      width: 70%;
      height: calc(100% - 2 * 1px); }
    #chat-interface .interface-footer > button {
      position: absolute;
      top: 0;
      right: 0;
      font-size: 30pt;
      width: calc(30% - 2 * 1px);
      height: 100%; }

#chatting-list {
  float: left;
  height: 100%;
  width: 250px;
  background-color: black; }

#menu-nav {
  float: left;
  height: 100%;
  width: 50px;
  background-color: green; }
