@mixin triangle-span($p: 'left') {
	position: absolute;
	top: 7px;
	display: block;
	width: 0px;
	height: 0px;
	border-style: solid;
	&.triangle-in {
		@if $p == 'left' {
			border-width: 5px 8px 5px 0;
			border-color: transparent $chat-content-color-shadow transparent transparent;
			left: -9px;
			opacity: .8;
	    }
	    @else {
	    	border-width: 5px 0 5px 8px;
	    	border-color: transparent transparent transparent $chat-content-color-shadow;
	    	right: -9px;
	    	opacity: .8;
	    }
	}
	&.triangle-out {
		@if $p == 'left' {
			border-width: 5px 8px 5px 0;
			border-color: transparent $chat-content-color-left transparent transparent;
			left: -8px;
	    }
	    @else {
	    	border-width: 5px 0 5px 8px;
	    	border-color: transparent transparent transparent $chat-content-color-right;
	    	right: -8px;
	    }
	}
}

@mixin chat-record-list($p: 'left') {
	clear: both;
	&>img {
		float: $p;
		width: 40px;
		height: 40px;
	}
	&>div {
		float: $p;
		margin-left: 10px;
		margin-right: 10px;
		&>span {
			padding-left: 5px;
			padding-right: 5px;
			display: block;
			text-align: $p;
		}
		&>p {
			position: relative;
			min-height: 20px;
			max-width: 200px;
			margin-top: 5px;
			padding: 5px;
			word-break:break-word;
			border-radius: 5px;
			box-shadow: 0 0 2px $chat-content-color-shadow;
			@if $p == 'left' {
				left: 8px;
				background-color: $chat-content-color-left;

		    }
		    @else {
		    	right: 8px;
		    	background-color: $chat-content-color-right;
		    }
			
			&>span {
				@include triangle-span($p);
			}
		}
	}
}

 #chat-interface {
	float: left;
	height: 100%;
	width: $chat-interface-width;
	background-color: $chat-interface-background;
	&:after {
		content: "";
		clear: both;
	}
}
#chat-interface .react-wrap {
	&>div {
		float: left;
		width: 100%;
	}
	.interface-header {
		height: 10%;
		>p {
			text-align: center;
			>span{
				cursor: pointer;
			}
		}
	}
	.interface-body {
		position: relative;
		height: 65%;
		overflow: hidden;
		div.add-friend{
			@include absolute(right, left);
			top: 10px;
			margin-left: auto;
			margin-right: auto;
			width: 60px;
			height: 20px;
			border-radius: 10px;
			font-size: 6pt;
			line-height: 20px;
			color: #fff;
			text-align: center;
			background-color: #baf;
			cursor: pointer;
			z-index: 1;
		}
		>ul {
			@include absolute(bottom);
			margin: 0;
			padding-left: 5%;
			padding-right: 5%;
			width: 90%;	
			min-height: 100%;
		}
		>ul li.chat-record-list-left {
			@include chat-record-list(left);
		}
		>ul li.chat-record-list-right {
			@include chat-record-list(right);
		}
	}
	.interface-footer {
		position: relative;
		height: 25%;
		background-color: $chat-interface-footer-background;
		>div.interface-footer-multiFunc {
			width: 100%;
			height: 40px;
			ul {
				margin: 0;
				height: 100%;
				padding-left: 10px;
			}
			ul li {
				display: inline-block;
				margin-left: 15px;
				padding-top: 7px;
				height: 100%;
				vertical-align: middle;
				cursor: pointer;
				font-size: 13pt;
				color: #777;
			}
			ul li:hover {
				color: #aaa;
			}
		}
		>div.emoji-container{
			position: absolute;
			bottom: 150px;
			left: -50px;
			width: 550px;
			height:220px;
			border: 1px solid #aaa;
			border-radius: 2px;
			>img {
				width: 37px;
				height: 37px;
				cursor: pointer;
				margin: 1px;
			}
			>img:hover {
				transform: scale(2);
				border: 1px solid #aaa;
			}
		}
		&>div.chat-inputarea {
			@include absolute(bottom);
			padding-left: 15px;
			padding-right: 15px;	
			width: calc(100% - 32 * 1px);
			height: calc(100% - 40 * 1px);
			border:none;
			outline-color: $chat-interface-footer-background;
			background-color: $chat-interface-footer-background;
			overflow: hidden;
		}
		&>div.interface-footer-send {
			position: absolute;
			bottom: 10px;
			right: 10px;
			width: 70px;
			height: 25px;
			line-height: 25px;
			text-align: center;
			font-size: 11pt;
			border: 1px solid #ddd;
			border-radius: 1px;
			cursor: pointer;
			&:hover {
				color: #fff;
				background-color: rgb(61,206,61);
			}
		}
	}
}
