@mixin triangle-span($p: 'left') {
	position: absolute;
	top: 7px;
	display: block;
	width: 0px;
	height: 0px;
	border-style: solid;
	&.triangle-in {
		@if $p == 'left' {
			border-width: 5px 8px 5px 0;
			border-color: transparent $chat-content-color-shadow transparent transparent;
			left: -9px;
			opacity: .8;
	    }
	    @else {
	    	border-width: 5px 0 5px 8px;
	    	border-color: transparent transparent transparent $chat-content-color-shadow;
	    	right: -9px;
	    	opacity: .8;
	    }
	}
	&.triangle-out {
		@if $p == 'left' {
			border-width: 5px 8px 5px 0;
			border-color: transparent $chat-content-color-left transparent transparent;
			left: -8px;
	    }
	    @else {
	    	border-width: 5px 0 5px 8px;
	    	border-color: transparent transparent transparent $chat-content-color-right;
	    	right: -8px;
	    }
	}
}

@mixin chat-record-list($p: 'left') {
	clear: both;
	&>img {
		float: $p;
		width: 40px;
		height: 40px;
	}
	&>div {
		float: $p;
		margin-left: 10px;
		margin-right: 10px;
		&>span {
			padding-left: 5px;
			padding-right: 5px;
			display: block;
			background-color: yellow;
		}
		&>p {
			position: relative;
			max-width: 200px;
			margin-top: 5px;
			padding: 5px;
			word-break:break-word;
			border-radius: 5px;
			box-shadow: 0 0 2px $chat-content-color-shadow;
			@if $p == 'left' {
				left: 8px;
				background-color: $chat-content-color-left;

		    }
		    @else {
		    	right: 8px;
		    	background-color: $chat-content-color-right;
		    }
			
			&>span {
				@include triangle-span($p);
			}
		}
	}
}

 #chat-interface {
	float: left;
	height: 100%;
	width: $chat-interface-width;
	background-color: $chat-interface-background;
	&:after {
		content: "";
		clear: both;
	}
}
#chat-interface .react-wrap {
	&>div {
		float: left;
		width: 100%;
	}
	.interface-header {
		height: 10%;
		background-color: red;
	}
	.interface-body {
		height: 65%;
		ul li.chat-record-list-left {
			@include chat-record-list(left);
		}
		ul li.chat-record-list-right {
			@include chat-record-list(right);
		}
	}
	.interface-footer {
		position: relative;
		height: 25%;
		background-color: red;
		&>textarea {
			@include absolute(top, left);
			padding: 0;
			border: 1px solid #aaa;
			width: 70%;
			height: calc(100% - 2 * 1px);
		}
		&>button {
			@include absolute(top, right);
			font-size: 30pt;
			width: calc(30% - 2 * 1px);
			height: 100%;
		} 
	}
}
